{% load staticfiles %}


{% block header_block %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

<!--table with content summary-->
{% block body_block %}

        <div class="table-responsive">
            <table id="myContentsTable" class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Upload Date</th>
                    <th>Reactions</th>
                    <th>No. of Comments</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                {% for p in posts %}
                <tr id="post_details">
                    <td>{{ p.title }}</td>
                    <td>{{ p.date }}</td>
                    <td>Grammar Fail: {{ p.grammarFail }}
                        Logic Fail: {{ p.logicFail }}
                        Toxicity: {{ p.toxicity }}
                        Harmful: {{ p.harmful }}</td>
                    <td>{{ numComments }}</td>
                    <td>{{ p.category }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


{% endblock %}
