{% load staticfiles %}


{% block header_block %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

<!--table with content summary-->
{% block body_block %}

    <div class="table-responsive">
        <table id="myContentsTable" class="table table-hover table-bordered">
            <thead style="background-color: #85c7fa">
            <tr>
                <th>Title</th>
                <th>Upload Date</th>
                <th>Reactions</th>
                <th>No. of Comments</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            {% for p in numComments %}
                {% for post, comm in p.items %}
                    <tr id="post_details">
                        <td><a target="_parent" href="{% url 'show_post' post.id %}">{{ post.title }}</a></td>
                        <td>{{ post.date }}</td>
                        <td>Grammar Fail: {{ post.grammarFail }}
                            Logic Fail: {{ post.logicFail }}
                            Toxicity: {{ post.toxicity }}
                            Harmful: {{ post.harmful }}</td>
                        <td>{{ comm }}</td>
                        <td>{{ post.category }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
