{% load staticfiles %}

{% block header_block %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}


{% block body_block %}


        <div class="table-responsive">
            <table id="myRatingsTable" class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>#/original poster</th>
                    <th>Title</th>
                    <th>Comment Date</th>
                    <th>Ratings Average</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                <tr id="comment_details">
                    <td>1</td>
                    <td>Ya basic</td>
                    <td>15/02/2018</td>
                    <td>@7 %7 £7 #7</td>
                    <td>People</td>
                </tr>
                </tbody>
            </table>
        </div>


{% endblock %}