{% load staticfiles %}

{% block header_block %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body_block %}
<!--Got these stuff from here: https://www.codeply.com/go/r5mnkgcetZ-->
<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <form method="post" action="." enctype="multipart/form-data">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name='fname' type="text" value="{{ user.first_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name='lname' type="text" value="{{ user.last_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name='email' type="text" value="{{ user.email }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Username:</label>
                    <div class="col-md-8">
                        <input class="form-control" name='username' type="text" value="{{ user.username }}">
                    </div>
                </div>

                <button onclick='window.top.location.href="{% url 'profile' selecteduser %}"' type="submit" class="btn btn-primary" value="Save Changes">Save Changes</button>

                <button type="button" class="btn btn-primary btn pull-right" onclick='window.top.location.href="{% url 'del_user' %}"' value="Delete Account">Delete Account</button>

            </form>
        </div>
    </div>
    <hr>
</div>

{% endblock %}

