{% extends 'antifu/base.html' %}
{% load staticfiles %}

{% block link_block %}
<!--meta makes it responsive-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static "css/userProfile.css" %}">
{% endblock %}

{% block title_block %}{{ selecteduser.username }} Profile{% endblock %}
{% block header_block %}Your Profile{% endblock %}
{% block body_block %}
<div class="row">
    <!--Profile details left column-->
    <div id="userDetails"class="card col-lg-3 rounded" style="max-width: 312px; max-height:100% ;padding: 10px; background-color: #85c7fa">
        <h3 class="card-header">{{ selecteduser.username }}'s Profile</h3>
        <img class="card-img-top" src="{{ MEDIA_URL }}{{userprofile.picture }}"
             width="250"
             height="250"
             alt="{{selecteduser.username}}" />
        <br/>
        <div class="card-body">
            {% if selecteduser.username == user.username %}
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update"/>
                </form>
            {% endif %}
            <p class="card-text" align="left"><strong>Email: </strong>{{ selecteduser.email }}</p>
            <p class="card-text" align="left"><strong>Total love: </strong>{{ selecteduser.totalLove }}</p>
            <p class="card-text" align="left"><strong>{{ selecteduser.username }}</strong> spreading the love since: {{ selecteduser.date_joined }}</p>
        </div>
    </div>
    <!--End of profile details-->

    <!--Profile content right column-->
    <div id="userTabs"class="col-lg-9" style="max-width:100%; max-height:100%; padding: 10px">

        <nav>
            <div class="nav nav-tabs" id="myTab" role="tablist" >
                <a class="nav-item nav-link active" id="nav-myContentTab" data-toggle="tab" href="#myContentTab" role="tab" aria-controls="nav-home" aria-selected="true">My Content</a>
                <a class="nav-item nav-link" id="nav-myCommentsTab" data-toggle="tab" href="#myCommentsTab" role="tab" aria-controls="nav-profile" aria-selected="false">My Comments</a>
                <a class="nav-item nav-link" id="nav-settingsTab" data-toggle="tab" href="#settingsTab" role="tab" aria-controls="nav-contact" aria-selected="false">Settings</a>
                <a class="nav-item nav-link" id="nav-uploadContentTab" data-toggle="tab" href="#uploadContentTab" role="tab" aria-controls="nav-contact" aria-selected="false">Upload Content</a>

            </div>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="myContentTab" role="tabpanel" aria-labelledby="nav-myContentTab">
                    <div>
                        <iframe height="600px" width=100% src="{% url 'myContents' selecteduser  %}" name="iframe_a"></iframe>
                    </div>
                </div>
                <div class="tab-pane fade" id="myCommentsTab" role="tabpanel" aria-labelledby="nav-myCommentsTab">
                    <div>
                        <iframe height="600px" width=100% src="{% url 'myComments' selecteduser %}" name="iframe_a"></iframe>
                    </div>
                </div>
                <div class="tab-pane fade" id="settingsTab" role="tabpanel" aria-labelledby="nav-settingsTab">
                    <div>
                        <iframe height="600px" width=100% src="{% url 'settings' %}" name="iframe_a"></iframe>
                    </div>
                </div>
                <div class="tab-pane fade" id="uploadContentTab" role="tabpanel" aria-labelledby="nav-uploadContentTab">
                    <div>
                        <iframe height="600px" width=100% src="{% url 'uploadContent' %}" name="iframe_a"></iframe>
                    </div>
                </div>
            </div>
        </nav>
    </div>
<!--End of profile content-->
</div>



{% endblock %}
