{% extends 'antifu/base.html' %}
{% load staticfiles %}

{% block link_block %}
    <!--meta makes it responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/userProfile.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/TabContents.js" %}"></script>
{% endblock %}

{% block title %}{{ selecteduser.username }} Profile{% endblock %}

{% block body_block %}

    <!--Profile details left column-->
    <div id="userDetails"class="col-lg-2" style="background-color: aquamarine; max-width:100%; max-height:100%">
        <h1>{{selecteduser.username}} Profile</h1>
        <img src="{{ MEDIA_URL }}{{userprofile.picture }}"
             width="300"
             height="300"
             alt="{{selecteduser.username}}" />
        <br/>
        <div>
            {% if selecteduser.username == user.username %}
                <form method="post" action="../antifu" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update" />
                </form>
            {% endif %}
            <h4>Email: {{ selecteduser.email }}</h4>
            <h4>Total love: {{ selecteduser.totalLove }}</h4>
            <h4><strong>{{ selecteduser.username }}</strong> spreading the love since: {{ selecteduser.date_joined }}</h4>
        </div>
    </div>
    <!--End of profile details-->

    <!--Profile content right column-->
    <div id="userTabs"class="col-lg-10" style="background-color: red; max-width:100%; max-height:100%">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#myContent">My Content</a></li>
            <li><a data-toggle="tab" href="#myRatings">My Ratings</a></li>
            <li><a data-toggle="tab" href="#settings">Settings</a></li>
            <li><a data-toggle="tab" href="#uploadContent">Upload Content</a></li>
        </ul>

        <div class="tab-content">
            <div id="myContent" class="tab-pane fade in active">
                <div>
                    <iframe height="600px" width=100% src="{% url 'myContents' %}" name="iframe_a"></iframe>
                </div>
            </div>
            <div id="myRatings" class="tab-pane fade">
                <div>
                    <iframe height="600px" width=100% src="{% url 'myRatings' %}" name="iframe_a"></iframe>
                </div>
            </div>
            <div id="settings" class="tab-pane fade">
                <div>
                    <iframe height="600px" width=100% src="{% url 'settings' %}" name="iframe_a"></iframe>
                </div>
            </div>
            <div id="uploadContent" class="tab-pane fade">
                <div>
                    <iframe height="600px" width=100% src="{% url 'uploadContent' %}" name="iframe_a"></iframe>
                </div>
            </div>
        </div>

    </div>
    <!--End of profile content-->


{% endblock %}
