{% load staticfiles %}
{% block title_block %}
    Upload Content
{% endblock %}

{% block header_block %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% endblock %}

{% block body_block %}

    <div class="container">

        <div id="contentUpload">
        <!--to upload a picture-->
            {% if selecteduser.username == user.username %}
                <form method="post" action="../antifu" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update" />
                </form>
            {% endif %}
        </div>
        <div id="contentDets">
            <form>
                 <div class="form-group">
                    <label for="title">Please enter a title</label>
                    <input class="form-control" type="text" placeholder="Title" id="title">
                </div>
                <div class="form-group">
                    <label for="categorySelection">Select Categories</label>
                    <select multiple class="form-control" id="categorySelection">
                        <option>People</option>
                        <option>Racism</option>
                        <option>LGBTQ+</option>
                        <option>Politics</option>
                        <option>Troll</option>
                        <option>PassiveAggressive</option>
                        <option>Misinformation</option>
                        <option>Ableism</option>
                        <option>SelfHate</option>
                        <option>Relationships</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="context">Please enter a short description</label>
                    <textarea class="form-control" id="context" rows="5" placeholder="Context"></textarea>
                </div>

                <!--TODO get form inputs and upload post-->
                 <button type="submit" class="btn btn-primary">Finish Upload</button>
            </form>
        </div>

    </div>

{% endblock %}

