{% extends 'antifu/base.html' %}
{% load staticfiles %}
{% block title_block %}
    About Us
{% endblock %}
{% block header_block %}
    About Us
{% endblock %}
{% block side_block%}
    <img src="{%static "images/kungfury.jpg"%}"alt ="Picture of me" />
{% endblock %}
{% block body_block %}
<div class="header">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Welcome to Anti-FU!</h1>
      <p class="lead">Making the world a better place one comment at a time.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>OUR MISSION</h3>
      <p>
    There is a lot of hateful content on different social media platforms. It goes from simple word vomit to extremly insulting and hurtful attacks. This makes the internet a toxic place. Cyberbullying is a rising problem and the reports of teenagers and adults alike suffering from the consequences of hate on the internet are no new occurence anymore. At the same time there are also reports of people standing up to that hate, defending themselves and others, confronting haters and bullies. Those brave people can make a difference in the lives of the victims and the offenders at the same time. Confronting people with the consequences of their output can help them realize their mistakes. Our mission is to start a movement against hate and decrease the hateful content on the internet, as well as to offer a save place for people.
      </p>
    </div>
    <div class="col-6">
      <div class="row">
        <h3>WHO ARE WE?</h3>
        <hr class="vertical">
        <p>
      We are a student group who started this as a project for a class. However, over time this became so much more to us than just a university project. Our name "Anti-FU", in the beginning just an accidental misspelling of our team mates name, became our cause. Bullying and hateful content were no news for us. Each and everyone of us has been a witness of what the hateful internet can do to people and sometimes even to ourselves. In one thing we all agreed: This world and especially the internet can be a cruel and horrible place. Nevertheless, we also agreed that humans can be kind and clever and can contribute to love and beauty in this world. And we wanted to inspire and make people contribute to a better world. Facing and debunking hate.
      </p>
    </div>
    <div class="row">
      <h3>OUR INSPIRATION</h3>
      <p>
      We have a small collection of stories, that can show the consequences of internet hate, and also the consequences of standing up for and helping someone. In different time periods we will feature different stories to show where a little compassion can bring you. Check out this story:
      </p>
      <hr class="vertical">
      <iframe width="560" height="315" src="https://youtu.be/rpOvYWd4KW4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
      <hr class="vertical">
      <p>
        If you have a video you would want to be published in one of our stories, feel free to <a href="/antifu/contactUs/">contact us</a>.
      </p>
    </div>
  </div>
  </div>
  <div class="row">
    <h3>HOW WE DO IT</h3>
    <p>
      On our website we want to encourage people to share hateful content they encountered and constructivly debunk/eliminate it. It is in your power to bring positivity into the internet. You as a user can upload hateful content you encountered in a censored way. We ask you to censor the name of the hater and anything that could give a clue to their identity. On our website we do not want to encourage hate or encourage people being targeted.
      <br>
      With this application we hope to raise awarness of how hatefulness can be fought, is presented and perceived and we hope to make the  internet a little less toxic and a little bit more loveable.
      <br>
      Should there be hateful content in the comments, people can mark it as such and it will be deleted. We do not tolerate hate in the comments of this webpage. Should comments be reported for any kind of hateful, hurtful or insulting language, those comments will be deleted. And should the number of reports to your account exceed a certain amount, your account will be blocked and your e-mail addressed added to a list of addresses that will not be able to create an account anymore.
    </p>
  </div>
</div>


{% endblock %}
