<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
	<head >
        <link rel="stylesheet" type="text/css" href="{%static "css/base.css"%}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
				<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
				<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
				{% block link_block %}
				{% endblock %}
		<meta charset="UTF-8" />
		<title>
			Antifu -
			{% block title_block %}
			Rate my Hate :*
			{% endblock %}
		</title>
	</head>
	<body>
		<header classs="main-header" id="baseHeader">
        <div class="container">
            <div class="row" > <!--w3-light-blue-->
					<div class="col-sm-3 col-xs-3 header-left">
						<a href="{% url 'home' %}">
							<img src="{%static "images/logo.png"%}"alt ="Logo" width="100" height="100"/>
						</a>
					</div>

					<div class = "col-sm-6 xs-hidden header-center">
						<h4 class="text-center">Making the world a better place one comment at the time</h4>
					</div>

					<div class="col-sm-3 col-xs-9 header-right">

					</div>
            </div>

        </div>

		</header>

		<div>
            {% block body_block %}

            {% endblock %}
        </div>

        <div>
            <nav class="footer navbar-fixed-bottom navbar navbar-inverse navbar-background">
                <div class="container-fluid">
                    <ul class="nav navbar-nav text-w">
                       <li><a href="{% url 'contactUs' %}">Contact Us</a></li>
                       <li><a href="{% url 'aboutUs' %}">About Us</a></li>
                       <li><a href="{% url 'personalHelp' %}">Personal Help</a></li>
                       <li><a href="{% url 'FAQ' %}">FAQ</a></li>
                    </ul>
                 </div>
            </nav>
        </div>


	</body>
</html>
