<!DOCTYPE html>
{% load staticfiles %}
{% load antifu_template_tags %}
<html lang="en">
<head >
  <link rel="shortcut icon" href="{%static "images/icon.png"%}" type="image/x-icon" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{%static "css/base.css"%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static "js/antifu-jquery.js" %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    {% block link_block %}
    {% endblock %}
    <meta charset="UTF-8" />
    <title>
        Antifu -
        {% block title_block %}
            Rate my Hate :*
        {% endblock %}
    </title>
</head>
<body class="bodyClass" designMode="on">
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light" id="baseHeader">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{%static "images/logo2.png"%}"alt ="Logo" class="d-inline-block align-top m-0" height="75" width="75" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeaderContent" aria-controls="navbarHeaderContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarHeaderContent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <h4 class="d-block d-md-none d-lg-block" style="margin-left: 5px">
                        {% block header_block %}
                            Making the world a better place one comment at a time
                        {% endblock %}
                    </h4>
                </div>
                <div class="col-4">
                  <form class="form-inline float-right" id="user_form"
                    method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <input class="form-control" type="text" size="20" name="query" value="{{ query }}" id="query" />
                    </div>
                    <button class="btn btn-outline-primary ml-1" type="submit" name="submit"
                    value="Search">Search</button>
                  </form>
                </div>
            </div>
            <div class="rows" >
                <div class="col-4-sm float-right">
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item active override-hover">
                                <a class="nav-link text-white override-hover" href="{% url 'auth_logout' %}"> Logout </a>
                            </li>
                            <li class="nav-item active override-hover">
                                <a class="nav-link  text-white override-hover" href="{% url 'profile' user.username %}">
                                    Welcome, {{ user.username }}
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item active override-hover">
                                <a class="nav-link  text-white override-hover" href="{% url 'auth_login' %}"> Login </a>
                            </li>
                            <li class="nav-item active override-hover">
                                <a class="nav-link text-white override-hover" href="{% url 'registration_register' %}"> Sign Up </a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
                <div class="nav-item dropdown float-left">
                    <div class = "dropdown">
                        <a class="nav-link text-white btn btn-outline-primary dropdown-toggle" href="#" id="CategoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="CategoryDropdown">
                            {% if categories %}
                                {% get_category_list %}
                            {% else %}
                                <a class="dropdown-item" href="#">No categories</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>
{% if user.is_authenticated %}
    <div id="user_authentication" style="visibility: hidden">true</div>
{% else %}
    <div id="user_authentication" style="visibility: hidden">false</div>
{% endif %}


<div class="container-all">
    {% block body_block %}

    {% endblock %}
</div>

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-primary" id="baseBottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse h-100 justify-content-center align-items-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item text-white nav-link override-hover py-0" href="{% url 'contactUs' %}"> Contact Us <span class="sr-only">(current)</span></a>
            <a class="nav-item text-white nav-link override-hover py-0" href="{% url 'aboutUs' %}"> About Us </a>
            <a class="nav-item text-white nav-link override-hover py-0" href="{% url 'personalHelp' %}"> Personal Help </a>
            <a class="nav-item text-white nav-link override-hover py-0" href="{% url 'FAQ' %}"> FAQ </a>
        </div>
    </div>
</nav>


</body>

<!-- comment -->
<script>
    var currentEdit = "no_comment"
    var user_authenticated = false

$(document).ready(function(){
    var user_stauts = user_authenticated=document.getElementById("user_authentication").innerHTML
    user_authenticated = (user_stauts == 'true')
});


$('.report').click( function(source){


    var input = source.target.id
    var split = input.split("_")
    var id = split[0]
    var flag = split[1]

    var wasPressed =  document.getElementById(input).disabled
    if(!wasPressed){
            var r = confirm("Do you want to report this content?");
            if (r == true) {
                alert("The content was reported")
            } else {
                return
            }

        var data = {
            id:id,
            flag: flag,
        }

        $.ajax({
            type: "POST",
            url: "{% url 'report' %}",
            data: data,
            success: function(responseData) {
            },
            error: function(){
                alert("something went wrong")
                }
        });
        document.getElementById(input).disabled = true;
    }
    else{
        alert("Content is already reported!")
    }
});


$('.edit').click( function(source){

    if (currentEdit == "no_comment"){
        var input = source.target.id
        var split = input.split("_")
        var comment_id = split[0]
        var reference = "#"+comment_id+"_comment"

        currentEdit = reference

        var data = $(reference)
        data.attr("contentEditable","true")
        data.css({"border-color": "#C1E0FF",
             "border-width":"2px",
             "border-style":"solid"});

        var buttonID = comment_id+"_submit_change"
        document.getElementById(buttonID).style.visibility = "visible"
    }
});

$('.submit_change').click(function (source) {
    var input = source.target.id
    var split = input.split("_")
    var comment_id = split[0]
    var buttonID = comment_id+"_submit_change"
    var data = $(currentEdit)
    data.attr("contentEditable","false")
    data.css({"border-style":"none"});
    currentEdit = "no_comment"
    document.getElementById(buttonID).style.visibility = "hidden"
    var n_comment= data["0"].innerText

    var info = {
            comment_id:comment_id,
            comment_content:n_comment,
    }

    $.ajax({
  		type: "POST",
  		url: "{% url 'update_comment_content' %}",
  		data: info,
  	    success: function(responseData) {
		},
		error: function(){
  		    alert("something went wrong")
        }
    });
})




$('.r_icon').click(function (source) {
    if(!user_authenticated){
        return
    }
        <!--get toggle status-->
    var toggled = source.target.getAttribute("aria-pressed")
    var id = source.target.id;

    var split = id.split("_")
    var post_id = split[0]
    var feat = split[1]

    var count_id = id+"_count";
    var count = document.getElementById(count_id).innerHTML;
    if(toggled === "true"){
	   count--;
	   source.target.setAttribute("aria-pressed",false);
    }
    else{
        count++;
	   source.target.setAttribute("aria-pressed",true);
    }
	document.getElementById(count_id).innerHTML = count;

        var data = {
        post_id:post_id,
        feat:feat,
        value: count,
    }

        $.ajax({
  				type: "POST",
  				url: "{% url 'update_post_feat' %}",
  				data: data,
  				success: function(responseData) {
				},
				error: function(){
  				    alert("something went wrong")
                }
			});

})

$('.c_icon').click( function(source){
    if(!user_authenticated){
        return
    }

    <!--get toggle status-->
    var toggled = source.target.getAttribute("aria-pressed")
    var id = source.target.id;

    var split = id.split("_")
    var comment_id = split[0]
    var feat = split[1]

    var count_id = id+"_count";
    var count = document.getElementById(count_id).innerHTML;
    if(toggled === "true"){
	   count--;
	   source.target.setAttribute("aria-pressed",false);
    }
    else{
        count++;
	   source.target.setAttribute("aria-pressed",true);
    }
	document.getElementById(count_id).innerHTML = count;

        var data = {
        comment_id:comment_id,
        feat:feat,
        value: count,
    }

    $.ajax({
  				type: "POST",
  				url: "{% url 'update_comment_feat' %}",
  				data: data,
  				success: function(responseData) {
				},
				error: function(){
  				    alert("something went wrong")
                }
			});


});

$(".commentForm").submit(function(event) {


    var source = event.target
    var post_id = source.getAttribute('data-postID')
    var user = source.getAttribute('data-user')
    var comment = document.getElementById(post_id+'_content').value

    var data = {
        user:user,
        post_id:post_id,
        comment:comment,
    }

    $.ajax({
  				type: "POST",
  				url: "{% url 'submit_comment' %}",
  				data: data,
  				success: function(responseData) {
				},
				error: function(){
  				    alert("something went wrong")
                }
			});

});


</script>


</html>
