<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
	<head >
        <link rel="stylesheet" type="text/css" href="{%static "css/base.css"%}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
				<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
				<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
				{% block link_block %}
				{% endblock %}
		<meta charset="UTF-8" />
		<title>
			Antifu -
			{% block title_block %}
			Rate my Hate :*
			{% endblock %}
		</title>
	</head>
	<body>
		<header classs="main-header" id="baseHeader">
			<div class="container">
        <div class="row" > <!--w3-light-blue-->
					<div class="col-sm-3 col-xs-3 header-left">
						<a href="{% url 'home' %}">
							<img src="{%static "images/logo.png"%}"alt ="Logo" width="100" height="100"/>
						</a>
					</div>

					<div class = "col-sm-6 xs-hidden header-center">
						<h4 class="w3-center">Making the world a better place one comment at the time</h4>
					</div>

					<div class="col-sm-3 col-xs-9 header-right">
            <ul class="w3-right-align">
            {%  if user.is_authenticated%}
                <li class="w3-bar-item w3-button"><a>Hello {{ user }}!</a></li>
                <li class="w3-bar-item w3-button"> <a href="{% url 'auth_logout' %}">Logout</a></li>
                <li class="w3-bar-item w3-button"> <a href="{% url 'home' %}">Add A New Category</a></li>
            {% else %}
                <li class="w3-bar-item w3-button"><a>Welcome, please register!</a></li>
                <li class="w3-bar-item w3-button"><a href="{% url 'auth_login' %}">Sign in</a></li>
                <li class="w3-bar-item w3-button"> <a href="{% url 'registration_register' %}">Register</a></li>
            {% endif %}
            </ul>
					</div>
        </div>
			</div>
		</header>

		<div>

            <div class="w3-sidebar w3-bar-block w3-light-grey" style="width: 15%">
            {% block side_block %}
                <h3 class="w3-bar-item">Menu</h3>
                {% if user.is_authenticated %}
                    <a class="w3-bar-item w3-button"><a href="#">My Profile</a></a>
                    <a class="w3-bar-item w3-button"> <a href="#">Settings</a></a>
                {% endif %}
                    <a class="w3-bar-item w3-button"> <a href="{% url 'home' %}">Home</a></a>
                    <a class="w3-bar-item w3-button"> <a href="{% url 'aboutUs' %}">About Us</a></a>
                    <a class="w3-bar-item w3-button"> <a href="#">Contact Us</a></a>
                    <a class="w3-bar-item w3-button"> <a href="{% url 'personalHelp' %}">Personal Help</a> </a>
                    <a class="w3-bar-item w3-button"> <a href="{% url 'FAQ' %}">FAQ</a> </a>
            {% endblock %}
            </div>
		</div>

        <div style="margin-left: 15%">
            <div class="w3-container">
                {% block body_block %}

                {% endblock %}
            </div>
        </div>

	</body>
</html>
