{% extends 'antifu/base.html' %}
{% load staticfiles %}
{% load antifu_template_tags %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href="{%static "css/content.css"%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
{% endblock %}
<br/>
{% block header_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
  <div class="ml-5 mr-5">
    {% get_post_comment_submit posts comments user %}
  </div>
{% endblock %}

<!-- comment -->
<script>

$('.report').click( function(){
	alert("selected report")
});


$('.c_icon').click( function(source){

    <!--get toggle status-->
    var toggled = source.target.getAttribute("aria-pressed")
    var id = source.target.id;

    alert(id)

    var count_id = id+"_count";
    var count = document.getElementById(count_id).innerHTML;
    if(toggled === "true"){
	   count--;
	   source.target.setAttribute("aria-pressed",false);
    }
    else{
        count++;
	   source.target.setAttribute("aria-pressed",true);
    }


	document.getElementById(count_id).innerHTML = count;


});

</script>
