{% load static %}
        <div class="comment_container ">
            <div class="comment">
            <div class="container">
                <div class="row">
                    <div class="user_info col-sm-2 border border-right-0 rounded-left">
                        <div class="row justify-content-left">
                            <div class="comment_profile_pic col-sm-1">
                                {% if comment.user %}
                                    <img class="small_profile border-0 rounded mt-1 mb-1 mr-2" src="{% get_media_prefix %}{{ comment.user.picture }}" alt="No Image"/>
                                {% else %}
                                    <img class="small_profile border-0 rounded mt-1 mb-1 mr-2" src="/media/profile_images/question-mark-man-Idea-go-freedigital.jpg" alt="No Image"/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="comment_user col-sm-1">
                                {{ comment.user }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 border border-left-0 rounded-right">
                      <div id="{{ comment.id }}_comment" class="comment_content row align-item-center justify-content-center">
                        <p>{{ comment.comment }}</p>
                      </div>
                    </div>
                    <div class="options col-sm-1">
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
                          <span class="glyphicon glyphicon-option-horizontal"></span>
                          </button>
                          <ul class="dropdown-menu">
                              <li class="report"><span class="fas fa-exclamation-triangle" role="button" id="{{ comment.id }}_comment" aria-disabled="false"> Report</span></li>
                              {% if comment.user.user == user %}
                                  <li class="edit"><span id="{{ comment.id }}_edit" class="fas fa-edit" role="button"> Edit</span></li>
                              {% endif %}
                          </ul>
                        </div>
                    {% endif %}
                    {% if comment.user.user == user %}
                        <button id="{{ comment.id }}_submit_change" data-url="{% url 'update_comment_content' %}" class="submit_change colouring btn btn-default" style="visibility: hidden;">change</button>
                    {% endif %}
                    </div>
                </div>
                <div class="row top">
                    <div class="spaceholder col-sm-1"></div>
                    <div class="comment_rating col-sm-2">
                        <div class="row align-item-center">
                            <span id="{{ comment.id }}_loveliness" class="comment_rating c_icon fa fa-heart col-sm-1" role="button" aria-pressed="false" data-url="{% url 'update_comment_feat' %}"></span>
                            <span id="{{ comment.id }}_loveliness_count" class="comment_rating c_number col-sm-1">{{ comment.loveliness }}</span>
                        </div>
                    </div>
                    <div class="comment_rating col-sm-2">
                        <div class="row">
                            <span id="{{ comment.id }}_burnfactor" class="comment_rating c_icon fas fa-fire col-sm-1" role="button" aria-pressed="false" data-url="{% url 'update_comment_feat' %}"></span>
                            <span id="{{ comment.id }}_burnfactor_count" class="comment_rating c_number col-sm-1">{{ comment.burnfactor }}</span>
                        </div>
                    </div>
                    <div class="comment_rating col-sm-2">
                        <div class="row">
                            <span id="{{ comment.id }}_logicRating" class="comment_rating c_icon fas fa-lightbulb col-sm-1" role="button" aria-pressed="false" data-url="{% url 'update_comment_feat' %}"></span>
                            <span id="{{ comment.id }}_logicRating_count" class="comment_rating c_number col-sm-1">{{ comment.logicRating }}</span>
                        </div>
                    </div>
                    <div class="comment_rating col-sm-2">
                        <div class="row">
                            <span id="{{ comment.id }}_accuracyRating" class="comment_rating c_icon fas fa-bullseye col-sm-1" role="button" aria-pressed="false" data-url="{% url 'update_comment_feat' %}"></span>
                            <span id="{{ comment.id }}_accuracyRating_count" class="comment_rating c_number col-sm-1">{{ comment.accuracyRating }}</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
