{% extends 'antifu/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title_block %}
    Contact Us
{% endblock %}
{% block header_block %}
  Contact Us
{% endblock %}
{% block body_block %}
    <div class="contact-section" id="contact">

      {% if thanks %}
      <div class="container">
        <div class="row"</div>
          <h1> Thank you! </h1>
        </div>
        <div class="row"</div>
          <div class = "col-6">
            <p> Thank you for writting to us. We will be in contact with you shortly. </p>
          </div>
          <div class = "col-6">
            <p> Maybe your enquiry can already be answered if you visit one of the following pages: </p><br />
            <li><a class="text-white" href="{% url 'aboutUs' %}">
              <span class="text hidden-xs"> About Us</span>
            </a></li>
            <li><a class="text-white" href="{% url 'personalHelp' %}">
              <span class="text hidden-xs"> Personal Help</span>
            </a></li>
            <li><a class="text-white override-hover" href="{% url 'FAQ' %}">
              <span class="text hidden-xs"> FAQ</span>
            </a></li>
          </div>
        </div>
      </div>
      {% else %}
      <div class="container">
        <h2>If you have any questions or suggestions towards our webpage we would be happy to be contacted by you.</h2>
      </div>
			<div class="container">
        <div class="row ml-4 mr-4">
        <div clas="col-6">
          <form>
            {% for field in form %}
              <div class="fieldWrapper">
                {{ field.errors }}
                <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
                <br />
                  {% render_field field placeholder=field.label class+="form-control" %}

                {% if field.help_text %}
                <p class="help form-control">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>
            {% endfor %}
            <input class="btn btn-primary btn-default submit" type="submit" value="Send Message" />
          </form>
          {% endif %}
        </div>
      </div>
		</div>
  </div>
{% endblock %}
