{% extends 'antifu/base.html' %}
{% load staticfiles %}

{% block link_block %}
  <link rel="stylesheet" type="text/css" href="{%static "css/faq.css"%}">
  <script src="{%static "js/faq.js" %}"></script>
{% endblock %}

{% block title_block %}
  FAQ
{% endblock %}

{% block header_block %}
  Frequently asked questions - FAQ
{% endblock %}

{% block body_block %}
    {% for faq in faqs %}
        <div class="faq_container">
          <div class="faq">
            <div class="faq_question">{{ faq.questions }}</div>
            <div class="faq_answer_container">
              <div class="faq_answer">{{ faq.answers }}</div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}
