<!DOCTYPE html>
{% extends 'antifu/base.html' %}
{% load staticfiles %}
{% load antifu_template_tags %}
{% block link_block %}
    <link rel="stylesheet" type="text/css" href="{%static "css/content.css"%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
{% endblock %}

{% block title_block %}
    Home
{% endblock %}
{% block header_block %}
    Home
{% endblock %}

{% block body_block %}

    <div class="container">

          <div class="row">

            <!-- Post Content Column -->
            <div class="col-8">

              <!-- Title -->
              <h1 class="mt-4">New On Anti-FU</h1>

              <hr>
                {% get_post_comment_submit posts comments user %}

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-3">

              <!-- Search Widget -->
              <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                  <form class="form-inline" id="user_form"
                    method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="form-group">
                    <input class="form-control" type="text" size="20"
                    name="query" value="{{ query }}" id="query" />
                    </div>
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" name="submit"
                    value="Search">Search</button>
                  </form>
                </div>
              </div>

              <!-- Categories Widget -->
              <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                  {% if categories %}
                  <ul class="list-unstyled mb-0">
                    {% for category in categories %}
                        <li><a href =" {% url 'show_category' category.name %}">{{ category.name }}</a></li>
                    {% endfor %}
                  </ul>
                  {% else %}
                    <strong>There are no categories present.</strong>
                  {% endif %}
                </div>
              </div>

              <!-- Side Widget -->
              <div class="card my-4">
                <h5 class="card-header">Quote of the Day</h5>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>I shall allow no man to belittle my soul by making me hate him.</p>
                    <footer class="blockquote-footer">Booker T. Washington in his book: <cite title="Source Title">Up From Slavery</cite></footer>
                  </blockquote>
                </div>
              </div>

            </div>

          </div>
          <!-- /.row -->

        </div>
        <!-- /.container -->

    {% endblock %}
