{% extends 'antifu/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Personal Help
{% endblock %}
{% block header_block %}
    Personal Help Section
{% endblock %}
{% block body_block %}
    <div class="card p-4">
        <img class="card-img-top" src="{% static "images/pH1.jpg" %}" alt="Helping hand." style="opacity: 0.8"/>
        <div class="card-img-overlay">
            <h3 class="card-title mt-4">This is where you can get help</h3>
            <p class="card-text ml-5 mr-5">
                Hello kind soul.

                If you have turned to this page that might be because you are just curious and wanted to see what this is about or you actually came here because you saw the word "help" and thought that is indeed what you need. In any of those cases you are very welcome here.

                We have started this webpage because we are well aware of all the hate that is going on in the internet. A lot of people are personally targeted with hateful and insulting comments that a lot of times strike right in the core. But, beautiful soul, do not dispear. There is help. Here and in so many other places.

                If you are being bullied or in any other form victimized we want you to know that that is not okay. No one should have to suffer

                We want you to be safe and happy.
                We want to help, unfortunately this is just the internet and we are just regular blocks, here are some people that actually know what they are doing.
            </p>
            <a class="card-link text-left btn btn-outline-info" href="#cyber_bullying">Cyber Bullying</a>
            <a class="card-link text-left btn btn-outline-info" href="#prevention">Prevention</a>
            <a class="card-link text-left btn btn-outline-info" href="#intervention">Intervention</a>
            <a class="card-link text-left btn btn-outline-info" href="#getting_help">Getting Help</a>
            <a class="card-link text-left btn btn-outline-info" href="#suicide_prevention">Suicide Prevention</a>
        </div>
    </div>

    <div class="card m-5 mx-auto" style="width: 40rem;">
        <img class="card-img-top" src="{% static "images/pH2.jpg" %}" alt="Helping hand." style="opacity: 0.3"/>
        <div class="card-img-overlay">
            <h2 id="cyber_bullying" class="card-title">Cyber Bullying</h2>
            <hr class="vertical"/>
            <p class="card-text">With the age of the internet there have come a lot of new ways of attacking people personally and in a hurtful manner. It is easier than ever to verbally attack and direct people. A mean facebook post or tweet is so easy to make and you don't even have to look the victim in the eyes and face the consequences. This new development has caused a lot of people to be victimzed and hurt. Cyber bullying is a serious problem in todays society. We here in Anti-FU work hard on this website to make people aware of hateful content and what influence it can have on peoples lives. If you want to know more about cyber bullying and its consequences or you want to seek help for it, check out the following links.</p>
            <ul class="list-group list-group-flush">
                {% for h in cb %}
                    {% for key,value in h.items %}
                        <li class="list-group-item"><a href="{{ value }}">{{ key }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card m-5 mx-auto" style="width: 40rem;">
        <img class="card-img-top" src="{% static "images/pH3.jpg" %}" alt="Helping hand." style="opacity: 0.3"/>
        <div class="card-img-overlay">
            <h2 id="prevention" class="card-title">Prevention</h2>
            <hr class="vertical"/>
            <p class="card-text">Cyber Bullying can be prevented and fought against. One easy prevention you can contribute with is not committing cyber bullying yourself and make more aware of it.</p>
            <ul class="list-group list-group-flush">
                {% for h in prev %}
                    {% for key,value in h.items %}
                        <li class="list-group-item"><a href="{{ value }}">{{ key }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card m-5 mx-auto" style="width: 40rem;">
        <img class="card-img-top" src="{% static "images/pH4.jpg" %}" alt="Helping hand." style="opacity: 0.3"/>
        <div class="card-img-overlay">
            <h2 id="intervention" class="card-title">Intervention</h2>
            <hr class="vertical"/>
            <p class="card-text">Do not be afraid to help someone in need. And if you don't know how, do not be afraid to find someone who does. A teacher, a counselor, a doctor or some of the many, many helplines.</p>
            <p class="card-text">Watch here what standing up for someone can achieve!</p>
            <iframe width="420" height="315"
                    src="https://www.youtube.com/watch?v=rpOvYWd4KW4">
            </iframe>
            <ul class="list-group list-group-flush">
                {% for h in interv %}
                    {% for key,value in h.items %}
                        <li class="list-group-item"><a href="{{ value }}">{{ key }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card m-5 mx-auto" style="width: 40rem;">
        <img class="card-img-top" src="{% static "images/pH5.jpg" %}" alt="Helping hand." style="opacity: 0.3"/>
        <div class="card-img-overlay">
            <h2 id="getting_help" class="card-title">Getting Help</h2>
            <hr class="vertical"/>
            <p class="card-text">There are a lot of places you can go to for help. Family, friends, charities and professionals. In this world and probably near you there is more help you can probaly even imagine. More people that care and are good than you might be aware of.</p>

            <ul class="list-group list-group-flush">
                {% for h in help %}
                    {% for key,value in h.items %}
                        <li class="list-group-item"><a href="{{ value }}">{{ key }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card m-5 mx-auto" style="width: 40rem;">
        <img class="card-img-top" src="{% static "images/pH6.jpg" %}" alt="Helping hand." style="opacity: 0.3"/>
        <div class="card-img-overlay">
            <h2 id="suicide_prevention" class="card-title">Suicide Prevention</h2>
            <hr class="vertical"/>
            <p class="card-text">If you clicked here it might just be out of curiousity, but it might also be because you aren't in the best place right now. Do not be afraid. It is never to late to get help. Even if you have been carrying around this burrden for a long time already or if this is a new development. There are people that care and there are people that can help. Please reach out to someone. We want you to be safe and we want you to be healthy.</p>

            <ul class="list-group list-group-flush">
                {% for h in sui %}
                    {% for key,value in h.items %}
                        <li class="list-group-item"><a href="{{ value }}">{{ key }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
