{% extends 'antifu/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Personal Help
{% endblock %}
{% block body_block %}
    <a href="{% url 'home' %}">6x Take her back!</a>
    <div>
      <p>
        Hello kind soul.

        If you have turned to this page that might be because you are just curious and wanted to see what this is about or you actually came here because you saw the word "help" and thought that is indeed what you need. In any of those cases you are very welcome here.

        We have started this webpage because we are well aware of all the hate that is going on in the internet. A lot of people are personally targeted with hateful and insulting comments that a lot of times strike right in the core. But, beautiful soul, do not dispear. There is help. Here and in so many other places.

        If you are being bullied or in any other form victimized we want you to know that that is not okay. No one should have to suffer

        We want you to be safe and happy.
        We want to help, unfortunately this is just the internet and we are just regular blocks, here are some people that actually know what they are doing.
      </p>
      <h2>Cyber Bullying, what it is and how to deal with it.</h2>
      <p>
        Here is a small introduction: <a href="https://www.youtube.com/watch?v=lN2fuKPDzHA">Stand up to CyberBullying</a>
      </p>
      <ul>
        <li><a href="https://www.nhs.uk/conditions/suicide/getting-help/">NHS Suicide Getting Help</a></li>
      </ul>
      <h2>Intervening</h2>
        <p>
          Do not be afraid to help someone in need. And if you don't know how, do not be afraid to find someone who does. A teacher, a counselor, a doctor or some of the many, many helplines. 
        </p>
        <h3>Watch what standing up for someone can do!</h3>
        <iframe width="420" height="315"
          src="https://www.youtube.com/watch?v=rpOvYWd4KW4">
        </iframe>
      <h2>Suicide Prevention</h2>
        <ul>
          <li><a href="https://www.nhs.uk/conditions/suicide/getting-help/">NHS Suicide Getting Help</a></li>
        </ul>
    </div>
{% endblock %}
