<div class="post_container colouring">
	<div class="post-{{ post.id }} colouring">
	<div class="container">
		<div class="row top">
			<div class="col-lg-6 col-md-8">
				<div class="post_image thin-border">
					<img class="img-responsive post_image w-100" src="{{MEDIA_URL}}/media/{{ post.picturePost }}" alt="No Image" />
				</div>
			</div>
			<div class="colouring col-lg-6 col-md-4">
				<div class="row">
					<div class="post_header col-11">
						<h4><a href="{% url 'show_post' post.id %}">{{ post.title }}</a> </h4>
					</div>
					<div class="options col-1 ">
						<div class="dropdown ">
						  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
						  <span class="glyphicon glyphicon-option-horizontal"></span>
						  </button>
						  <ul class="dropdown-menu">
							<li class="report"><span class="glyphicon glyphicon-alert" role="button"> Report</span></li>
							<li class="edit"><span class="glyphicon glyphicon-pencil" role="button"> Edit</span></li>
						  </ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="post_context thin-border col-12">
                        {{ post.context }}
                    </div>
				</div>
				<div class="row">
					<div class="post_tags col-12">
                        {{ post.tags }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="post_rating col-2">
				<div class="row">
                    <div class="dropdown">
                      <a type="button" id="{{ post.id }}_grammFail" class="btn btn-primary dropdown-toggle colouring post_rating fas fa-question-circle" data-toggle="dropdown"></a>
                      <div class="dropdown-menu">
                        <div class="dropdown-item radio" >
                            <label><input type="radio" name="optradio">1</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" name="optradio">2</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" name="optradio">3</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" name="optradio">4</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" name="optradio">5</label>
                        </div>
                      </div>
                    </div>
                    <div id="{{ post.id }}_grammFail_avg" class="post_rating r_number col-6">3/5</div>
				</div>
			</div>
			<div class="post_rating col-2">
				<div class="row">
                    <div class="dropdown">
                      <a type="button" id="{{ post.id }}_logFail" class="btn btn-primary dropdown-toggle colouring post_rating fas fa-comment-alt" data-toggle="dropdown"></a>
                      <div class="dropdown-menu">
                        <div class="dropdown-item radio" >
                            <label><input type="radio" value="1" name="optradio">1</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" value="2" name="optradio">2</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" value="3" name="optradio">3</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" value="4" name="optradio">4</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" value="5" name="optradio">5</label>
                        </div>
                        <div class="dropdown-item radio">
                            <input type="hidden" id="radio-previous" name="radio-previous" />
                        </div>
                      </div>
                    </div>
					<div id="{{ post.id }}_logFail_avg" class="post_rating r_number col-6">4/5</div>
				</div>
			</div>
			<div class="post_rating col-2">
				<div class="row">
                    <div class="dropdown">
                      <a type="button" id="{{ post.id }}_toxic" class="btn btn-primary dropdown-toggle colouring post_rating fas fa-bug" data-toggle="dropdown"></a>
                      <div class="dropdown-menu">
                        <div class="dropdown-item radio" >
                            <label><input type="radio" name="optradio">1</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" name="optradio">2</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" name="optradio">3</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" name="optradio">4</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" name="optradio">5</label>
                        </div>
                      </div>
                    </div>
					<div id="{{ post.id }}_toxic_avg" class="post_rating r_number col-sm-6">5/5</div>
				</div>
			</div>
			<div class="post_rating col-2">
				<div class="row">
                    <div class="dropdown">
                      <a type="button" id="{{ post.id }}_harm" class="btn btn-primary dropdown-toggle colouring fas fa-frown post_rating" data-toggle="dropdown"></a>
                      <div class="dropdown-menu">
                        <div class="dropdown-item radio" >
                            <label><input type="radio" name="optradio">1</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" name="optradio">2</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" name="optradio">3</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" name="optradio">4</label>
                        </div>
                        <div class="dropdown-item radio">
                            <label><input type="radio" name="optradio">5</label>
                        </div>
                      </div>
                    </div>
					<div id="{{ post.id }}_harm_avg" class="post_rating r_number col-sm-6">3/5</div>
				</div>
				</div>
			</div>
			<div class="spaceholder col-4"></div>
		</div>
	</div>
	</div>
</div>
