{% load antifu_template_tags %}
{% load widget_tweaks %}
{% load static %}
<div>

{% for p in posts %}
    {% get_post p.id user %}
    <div>
        <ul class="comments_for_post" data-postid="{{ p.id }}">
        {% for c in comments %}
            {% if c.post == p %}
                {% get_comment c.id user%}
            {% endif %}
        {% endfor %}
        </ul>
    </div>


{% if user.is_authenticated %}
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form method = "post" class ="commentForm" data-url="{% url 'submit_comment' %}" data-postID="{{ p.id }}" data-user="{{ user }}">
                    {% csrf_token %}

                    <div class="fieldWrapper">
                      <div class="row mt-2">
                        <div class="col-10">
                         <textarea id="{{ p.id }}_content" rows="5" cols="85"></textarea>
                        </div>
                      </div>
                    </div>
                <div class="col-sm-1">
                    <button class="submit text-black" type="submit">submit</button>
                </div>
                <div class="spaceholder col-sm-9"></div>
            </form>
        </div>
    </div>
{% endif %}
{% endfor %}
</div>
