{% load static %}
<div class="post_container colouring border rounded">
	<div class="post-{{ post.id }} colouring">
	<div class="container">
		<div class="row top">
			<div class="col-lg-6 col-md-8 mr-2">
				<div class="post_image">
					<img class="img-responsive post_image w-100 border-0 rounded" src="{% get_media_prefix %}{{ post.picturePost }}" alt="No Image" />
				</div>
			</div>
			<div class="colouring col-lg-5 col-md-4 border border-light mr-2 ml-1 mb-1 justify-content-center">
				<div class="row">
					<div class="post_header col-9">
						<h4><a class="text-white" href="{% url 'show_post' post.id %}">{{ post.title }}</a> </h4>
					</div>
					<div class="options col-1 ">
                        {% if user.is_authenticated %}
						<div class="dropdown ">
						  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
						  <span class="glyphicon glyphicon-option-horizontal"></span>
						  </button>

						  <ul class="dropdown-menu">
							<li class="report"><span class="fas fa-exclamation-triangle" aria-disabled="false" role="button" id="{{ post.id }}_post"> Report</span></li>
						  </ul>

						</div>
                        {% endif %}
					</div>
				</div>
				<div class="row border-bottom mb-2">
					<div class="post_context border-top col-12">
              {{ post.context }}
          </div>
				</div>

				<div class="row justify-content-center mt-2 mb-2">
					<div class="post_rating col-2">
						<div class="row">
							<span id="{{ post.id }}_grammarFail" class="post_rating r_icon fas fa-question-circle col-6" role="button" aria-pressed="false" data-url="{% url 'update_post_feat' %}"></span>
							<span id="{{ post.id }}_grammarFail_count" class="post_rating r_number col-6">{{ post.grammarFail }}</span>
						</div>
					</div>
					<div class="post_rating col-2">
						<div class="row">
							<span id="{{ post.id }}_logicFail" class="post_rating r_icon fas fa-low-vision col-6" role="button" aria-pressed="false" data-url="{% url 'update_post_feat' %}" ></span>
							<span id="{{ post.id }}_logicFail_count" class="post_rating r_number col-6">{{ post.logicFail }}</span>
						</div>
					</div>
					<div class="post_rating col-2">
						<div class="row">
							<span id="{{ post.id }}_toxicity" class="post_rating r_icon fas fa-flask col-6" role="button" aria-pressed="false" data-url="{% url 'update_post_feat' %}"></span>
							<span id="{{ post.id }}_toxicity_count" class="post_rating r_number col-6">{{ post.toxicity }}</span>
						</div>
					</div>
					<div class="post_rating col-2">
						<div class="row">
							<span id="{{ post.id }}_harmful" class="post_rating r_icon fas fa-bolt col-6" role="button" aria-pressed="false" data-url="{% url 'update_post_feat' %}"></span>
							<span id="{{ post.id }}_harmful_count" class="post_rating r_number col-6">{{ post.harmful }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
