{% extends 'antifu/base.html' %}
{% load staticfiles %}

{% block title %} Search {% endblock %}

{% block body_block %}
  <div class="header">
    <div class="jumbotron jumbotron-fluid rounded">
      <div class="container">
        <h1>Search Results</h1>
        <p class="lead">Making the world a better place one comment at a time.</p>
      </div>
    </div>
  </div>
  <div>
    {% if result_list %}
    <!-- Display search results in an ordered list -->
    <div class="list-group">
      {% for result in result_list %}
      <div class="list-group-item">
        <div class="row">
          <div class="col-lg-6 col-sm-2 col-xs-0">
            <img class="img-responsive post_image w-100" src="{{MEDIA_URL}}{{ result.picturePost }}" alt="No Image" />
  				</div>
          <div class="col-lg-6 col-sm-10 col-xs-12">
            <h4 class="list-group-item-heading">
              <a href="{% url 'show_post' result.id %}">{{ result.title }}</a>
            </h4>
            <p class="list-group-item-text">{{ result.context }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h4>Sorry there are no results to your request.</h4>
    {% endif %}
  </div>
{% endblock %}
