bcrypt <3.1.4>
certifi <2018.1.18>
cffi <1.11.4>
Django <1.11>
django-registration-redux <1.4>
Pillow <5.0.0>
pip <9.0.1>
pycparser <2.18>
pytz <2018.3>
setuptools <38.4.0>
six <1.11.0>
wheel <0.30.0>
wincertstore <0.2>