
/*navigation bar*/
#baseHeader {
  background: #0b7ac8; /* for browser that don't support gradient*/
  background: linear-gradient(-90deg, #1bffff, #2e3192);
  color: white;
}
.fixed-bottom{
  background:  #0b7ac8;
  border: none!important;
}
#subHeader{
  background: #0b7ac8; /* for browser that don't support gradient*/
  background: linear-gradient(-90deg, #1bffff, #2e3192);
  color: white;
}

.bodyClass {
  min-height: 75rem;
  padding-top: 4.0rem;
  margin-top: 50px;
}

.container-all {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* .navbar-background {
  background: transparent;
  border: none!important;
}

.navbar-inverse {
  border: none!important;
  font-size: 20px;
  margin-bottom: 20px;
}

.navbar-right {
  float: right;
} */


h1 {
  margin-bottom: 20px;
  color: #021d31
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}



/*
.navbar-fixed-bottom{
  display: inline-block;
  float : none;
  vertical-align: top;
} */

/* .navbar-bottom a{
  overflow: hidden;
  div {
    display: inline;
  } */
}
/* .navbar-nav-bottom {
  width: 100%;

}
.navbar-nav-bottom>li {
  float: none;
  display: inline-block;
}
.navbar-nav-bottom {
  width: 100%;

}
.navbar-nav-bottom>li {
  float: none;
  display: inline-block;
} */

@media (max-width:550px){
  .navbar-bottom a {
    font-size: 0px !important;
  }
  .navbar-bottom a span {
    font-size: 20px !important;
  }
}

@grid-breakpoints{
  // Extra small screen / phone
  xs: 500px,
  // Small screen / phone
  sm: 689px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
}

.text-white{
  color:white!important;
}


.override-hover a:hover{
  color: grey!important;
}

#contact{
  height: 550px;
}

#navbarItems li a {
    color: white;
}
